{
    "branch_custom_list": [
        "dev", 
        "beta", 
        "main"
    ], 
    "default_branch_idx": 0, 
    "default_user_idx": 0, 
    "enable_branch_default": true, 
    "enable_user_default": true, 
    "enable_versioning": true, 
    "menu_entry": "Digital Assets", 
    "show_branch": true, 
    "user_custom_list": [
        "koval"
    ], 
    "vhdapath": "$HOUDINI_USER_PREF_DIR/otls"
}